{
  "api_key": "api key",
  "api_secret": "api secret",
  "api_passphrase": "api pass phrase",
  "is_sandbox": true,
  "symbol_a": "contract name",
  "symbol_b": "contract name",
  "spread_mean": "average closed price for 3 days",
  "num_param": "2 * Standard deviation of spread_mean",
  "leverage": "Leverage of the order",
  "size": "Order size. Must be a positive number"
}